# Backups:
*~
*.bak
pom.xml.versionsBackup
# RyCON:
RyCON.config
RyCON*/buildNumber.properties
doc
# Maven:
target/
# Eclipse:
.classpath
.project
.settings/
# IDEA:
*.iml
*.ipr
*.iws
.idea/
# Logging:
*.log
*.logfile*.xml
