<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Config file created by RyCON - see: http://code.ryanthara.de/RyCON</comment>
<entry key="ParamControlPointString">STKE</entry>
<entry key="ParamStationString">ST</entry>
<entry key="Information">http://code.ryanthara.de/RyCON</entry>
<entry key="DirJobsTemplate">/Users/sebastian/Desktop/VuG/Auftrag/Vorlage</entry>
<entry key="DirProjectsTemplate">/Users/sebastian/Desktop/VuG/Verm/Projekte/Vorlage</entry>
<entry key="DirBase">/Users/sebastian/Desktop/VuG</entry>
<entry key="Build">2 - 2014-12-31</entry>
<entry key="Generator">RyCON</entry>
<entry key="DirProjects">/Users/sebastian/Desktop/VuG/Verm/Projekte</entry>
<entry key="DirJobs">/Users/sebastian/Desktop/VuG/Auftrag</entry>
<entry key="ParamFreeStationString">FS</entry>
</properties>
